---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import { formatDate, slugify } from "../ts/utils";
const { post, url } = Astro.props;
const { title, description, date, category, author, src, alt } =
  post.frontmatter;
---

<div class="container">
  <a href={url}>
    <Image src={src} alt={alt} width="600" height="400" format="webp" />
  </a>
  <a class="tag" href={`/categorie/${slugify(category)}`}>{category}</a>
  <div class="text">
    <h2>{title}</h2>

    <p>
      écrit par
      <a href={`/author/${slugify(author)}`}>{author}</a>
      | {formatDate(date)}
    </p>
  </div>
  <a href={url} class="button"> Lire l'article</a>
</div>

<style>
  .container:hover {
    -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  }

  .container {
    width: 300px;
    margin: 3em auto auto;
    position: relative;
    background: white;
    border-radius: 4px;
    box-shadow: 0px 20px 50px #d9dbdf;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  p {
    font-weight: 100;
    color: #000;
  }

  .button {
    background-color: #5d9892;
    color: white;
    padding: 0.6em 0.2em;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }

  .tag {
    background: #5d9892;
    color: whitesmoke;
    text-decoration: none;
    padding: 0.1em 0.4em;
    font-size: 1rem;
    border-radius: 3px 3px 0 0;
    position: absolute;
    top: -1.7em;
  }

  img {
    width: 300px;
    height: 200px;
  }

  .text {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  .text p {
    font-size: 0.7rem;
  }

  h2 {
    font-size: 1.3rem;
  }
</style>
