---
import { formatBlogPosts, slugify } from "../../ts/utils";
import Layout from "../../layouts/Layout.astro";
import BlogCard from "../../components/BlogCard.astro";

export async function getStaticPaths() {
  const allPosts = await Astro.glob("../blog/*.md");
  const formattedPosts = formatBlogPosts(allPosts);
  const allCategories = [
    ...new Set(formattedPosts.map((post) => post.frontmatter.category)),
  ];
  return allCategories.map((category) => {
    const categoryPosts = formattedPosts.filter(
      (post) => post.frontmatter.category === category
    );
    return {
      params: { category: slugify(category) },
      props: { name: category, posts: categoryPosts },
    };
  });
}

const { category } = Astro.params;
const { name, posts } = Astro.props;
---

<Layout
  title={name}
  description={`Voici la page on sont répertoriés tous les articles de ${name} du site`}
>
  <main>
    <h2>Tous les articles de: <span class="accent">{name}</span></h2>
    <ul>
      {posts.map((post) => <BlogCard post={post} url={post.url} />)}
    </ul>
  </main>
</Layout>

<style>
  main {
    width: min(1196px, 100%);
    margin: auto;
  }
  h2 {
    padding: 0.5em;
  }
  .accent {
    font-style: italic;
  }
  ul {
    list-style-type: none;
  }

  @media only screen and (min-width: 800px) {
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fill, 350px);
      justify-content: center;
      align-items: flex-start;
    }
  }
</style>
